<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>

  <div th:replace="~{base :: logo}"></div>
  
  <div class="container">

    <div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

    <nav class="navbar navbar-expand bg-light navbar-light d-flex justify-content-between mb-3">
      <div class="navbar-nav">
        <a class="nav-link active" href="">Todos</a>
        <a class="nav-link " href="">Aguardando</a>
        <a class="nav-link " href="">Aprovado</a>
        <a class="nav-link " href="">Entregue</a>
      </div>
      <a href="/pedido/formulario"><button class="btn btn-outline-secondary ">Novo</button></a>
    </nav>

    <div class="card mb-3" th:each="pedido : ${pedidos}">

      <th:block th:switch="${pedido.status.name()}">
        <div th:case="'AGUARDANDO'" th:text="${pedido.nomeProduto}" class="card-header alert alert-warning">Nome do Produto</div>
        <div th:case="'APROVADO'" th:text="${pedido.nomeProduto}" class="card-header alert alert-success">Nome do Produto</div>
        <div th:case="'ENTREGUE'" th:text="${pedido.nomeProduto}" class="card-header alert alert-dark">Nome do Produto</div>
      </th:block>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-8 mb-3 ">
            
            <div class="row">
              <div class="col-md-5">Valor: <span th:text="${pedido.valorNegociado}">200,99</span></div>
              <div class="col-md-7">Data da Entrega: <span th:text="${pedido.dataDaEntrega}">10/10/2022</span></div>
            </div>
    
            <div>Produto</div>
            <div><input class="form-control" th:value="${pedido.urlProduto}" value="url imagem"></div>
    
            <div>Descrição</div>
    
            <div>
              <textarea class="form-control">descricao do pedido</textarea>
            </div>
          </div>
    
          <div class="col-12 col-sm-4 text-center">
            <div>
              <img class="img-thumbnail" th:src="${pedido.urlImagem}" src="" alt="">
            </div> 
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
</html>